header
{
	background-color: #909090;
	border-radius: 10px;
	padding-top: 20px;
	display: flex;
	height: 25%;
	width: 85%;
	min-width: 800px;
	box-shadow: 6px 6px 20px black;
}

.Recommencer
{
	width: 20px;
	position: relative;
	bottom: 10px;
}

.Déconnecter
{
	position: relative;
	top: 190px;
	right: 15px; 
}

.research
{
	width: 100%;
	position: relative;
	top: 60px;
}

.Day
{
	width: 45%;
}

.day_42
{
	flex: 1;
}

.content
{
	display: flex;
	justify-content: center;
}

.top
{
	display: flex;
	justify-content: center;
}

nav, aside
{
	background-color: #909090;
	list-style: none;
	margin: 20px;
	border-radius: 10px;
	box-shadow: 6px 6px 20px black;
	width: 8%;
}

.Avancer, .Prendre, .Regarder, .Utiliser, .Parler, .book, .towel, .wall
{
	width: 50%;
	min-width: 50px;
	margin: 30px;
}

.cluster
{
	width: 60%;
	min-width: 400px;
	height: 60%;
	background-color: #909090;
	padding: 10px;
	margin: 20px;
	border-radius: 10px;
	box-shadow: 6px 6px 20px black;
}

body
{
	background-color: #505050;
}